@page
@model AspNetCoreIdentity.Pages.Store.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.CodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.CodigoPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Pais)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Telefono1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Telefono1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Telefono2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Telefono2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Almacen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Almacen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.Estatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.Estatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda.RazonSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tienda.RazonSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tienda.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
